---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="pt-32 px-8 max-w-2xl mx-auto">
        <h1 class="font-serif text-4xl">About Me</h1>
        <p class="mt-4 font-sans leading-relaxed">
            This is where I'll write my introduction!
        </p>
    </div>
</Layout>
