---
import PostLayout from "../../layouts/Layout.astro";
---
<PostLayout>
	<div class="mb-32 pt-32 px-8 max-w-2xl mx-auto">
		<h1 class="font-serif text-4xl">Ditch Explorer</h1>
		<p class="mt-4 font-sans leading-relaxed">
			This is where I'll write about my Ditch Explorer project!
		</p>
	</div>
</PostLayout>